/* 共通 */
a {
  text-decoration: none;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  /* 2 */
  width: 1040px;
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */
  overflow: hidden;
}

/* header */
.global-nav {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.header-low1 {
  display: flex;
}

.school-logo {
  width: 211px;
  height: 45px;
}

.header-nav-wrapper {
  display: flex;
}

.nav-color {
  background-color: #181836;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-list a {
  width: 14%;
  color: #ffffff;
  font-size: 14px;
}

.header-invitation::after {
  content: url(../images/icon_arrow01_right_blue01.png);
}

.header-image {
  background-image: url("../images/about_mainimage01.jpg");
  width: 100%;
  min-height: 470px;
  padding: 50px 10px 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-school {
  text-align: center;
  color: #ffffff;
}

.breadcrumbs {
  padding: 20px 10px 18px;
  border-bottom: 1px solid;
}

/* body_main */
.main-text {
  margin-bottom: 50px;
}

.main-text-upper {
  text-align: center;
}

.main-text-low {
  width: 640px;
  margin: 0 auto 60px;
}

.heading {
  margin: 0 0 30px;
    padding: 0 0 10px;
    border-bottom: 2px bold;
}

.heading::after {
 content: url(../images/line02_black01.png);
}

.education-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.education-text {
  width: 53%;
}

.education-text li {
  margin-bottom: 50px;
  font-size: 19px;
}

.education-text span {
  font-size: 24px;
  padding: 5px 15px 5px 0;
  margin: 0 15px 0 0;
  border-right: solid 1px #1c1c1c;
  white-space: nowrap;
  vertical-align: middle;
}

.education-image {
  width: 47%;
}

.flex-container {
  text-align: center:
}
.standard-block {
  display: flex;
  justify-content: center;
  width: 680px;
  margin: 80px auto;
  border: 1px solid;
  padding: 30px 40px;
  background-color: #F7F7F7;
  color: #333333;
}

.image-card {
  padding-right: 20px;
}

.standard-block h3 {
  margin-top: 0;
}

.standard-block  p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.5rem;
}

.read-more {
  width: 70px;
  height: 13px;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.summary-text {
  width: 46%;
}

.summary-image {
  width: 50%;
}

.summary {
      margin: 0 0 10px;
    padding: 0 0 25px;
    border-bottom: solid 1px #1c1c1c;
}

.explanation {
  font-size: 12px;
}

/* 高卒資格取得のためのBasic Program */
.colored-block-wrapper {
  background-color: #F7F7F7;
  padding: 70px 10px 1px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.main-heading-upper {
   margin: 0 0 20px;
    padding: 0 0 10px;
    font-size: 33px;
    font-weight: normal;
}
.main-heading {
  margin: 0 0 80px;
    padding: 0 0 10px;
    font-size: 33px;
    font-weight: normal;
}

.main-heading-upper::after {
  content: url(../images/line01_black01.png) ;
}

.main-heading::after {
  content: url(../images/line01_black01.png) ;
}

.subject {
  text-align: center;
}

.subject p {
  margin-bottom: 60px;
}

.contents-wrapper {
  display: flex;
  margin-bottom: 110px;
  justify-content: space-between;
}

.contents-wrapper-reverse {
  display: flex;
  margin-bottom: 110px;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.contents-image {
  width: 70%;
}

.contents-text {
  width: 27%;
}

.contents-text  h3 {
  font-weight: normal;
}

.tag {
  display: inline-block;
    padding: 2px 10px;
    background: #1c1c1c;
    font-size: 1.2rem;
    margin: 0;
}

.tag img {
  height: 14px;
}

.contents-text h3 {
  line-height: 2.5rem;
  font-size: 22px;
}

.contents-text-low {
  font-size: 11px;
  margin-bottom: 20px;
}

.sub-heading {
  margin-top: 0;
}

.read-more {
  margin-top: 20px;
}
/* advanced program */

.nocolored-block-wrapper {
  padding: 70px 10px 1px;
  border-bottom: 1px solid;
}